body {
    background-color: black;
  }
  
  img {
    height: 10rem;
  }
  
  header {
    padding-top: 10%;
    display: grid;
    place-items: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    width: 20rem;
  }
  
  h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #0081ba;
    font-weight: 900;
    transition: color 0.3s ease;
  }
  
  label {
    height: 2.4rem;
    margin-bottom: 0.8rem;
  }
  
  input {
    height: 2.4rem;
    border: none;
    border-radius: 18px;
    background-color: white;
    padding-left: 45px;
    padding-right: 10px;
    font-size: 15px;
    color: #253953;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-radius 0.3s ease;
  }
  
  input:not(input[type="submit"]) {
    width: 20rem;
    font-weight: 600;
    background-color: #dbdbdb;
  }
  
  input[type="submit"] {
    width: auto;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    padding: 0.6rem;
    text-align: center;
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
  }
  
  .configBotao{
    display: flex;
    justify-content: space-between;
  }
  
  #btnEnviar{
    background-color: #0081ba;
    color: #ffffff;
    width: 9.7rem;
  }
  #btnEnviar:hover{
    animation-duration: 10s;
    background-color: #064763;
    transform: scale(1.05);
  }
  
  #btnVoltar{
    width: 9.7rem;
    color: #0081ba;
    background-color: #ffffff;
    align-items: end;
  }
  #btnVoltar:hover{
    animation-duration: 10s;
    background-color: #cccccc;
    transform: scale(1.05);
  }
  
  label > #btnEnviar, label > #btnVoltar {
    height: 2.4rem;
    margin-top: 1rem;
  }
  
  p{
    color: #ffffff;
    font-size: 12px;
    margin-bottom: .5rem;
    margin-left: 3%;
  }
  
  .icone {
    height: 30px;
    margin-left: 8px;
    position: absolute;
    transition: height 0.3s ease;
  }
  
  .config-icone {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    img {
      height: 8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  
    input:not(input[type="submit"]) {
      /* min-width: 15rem;
      width: 15rem; */
      font-size: 14px;
    }
  }
  
  @media (max-width: 450px) {
    img {
      height: 6rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  
    input:not(input[type="submit"]) {
      min-width: 12rem;
      width: 12rem;
      font-size: 13px;
    }
    input[type="submit"] {
      font-size: 14px;
    }
    span {
      font-size: 12px;
    }
  
    .icone {
      height: 25px;
    }
  }
  